
body {
    margin: 0;
}

#title {
    font-family: 'Roboto';
    padding-left: 30px;
    float: left;
}

.intro {
    font-family: 'Roboto';
    float: left;
    padding-left: 30px;
    padding-top: 40px;
}

.intro #introH {
    color: #0E3657;
    font-size: 34px;
    line-height: 150%;
    word-spacing: 4px;
}

.intro #introP {
    color: #6984a3;
    line-height: 150%;
    
}

.intro button {
    cursor: pointer;
    border: 0;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 600px;
    margin: 10px 10px;
    width: 155px;
    height: 50px;
    background-color: #00ABE4;
    box-shadow: 0 0 20px #a4aeb9;;
    transition: 0.4s;
    font-size: 16px;
    font-weight: 700;
    font-family: Kanit, sans-serif;
    letter-spacing: 2px;
    color: #FFFFFF;
    
}

.intro button:hover {
    box-shadow: 0 0 20px #6984a3;
  }

.navbar {
    overflow: auto;
    float: right;
}

header {
    background: #E9F1FA;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.navbar ul {
    list-style: none;
    padding-right: 220px;
}

.navbar li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 10px;
}

.navbar a {
    color: #0E3657;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto';
    

    position: relative;
    display: block;
}

.navbar a:hover {
    color: #000;
}


.navbar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #00ABE4;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

a:hover::after,
a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

li a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }
  
li a:hover::after,
li a:focus::after{
    transform: scale(1);
  }

