
body {
    margin: 0;
}

#title {
    font-family: 'Roboto';
    padding-left: 30px;
    float: left;
}

.intro {
    font-family: 'Roboto';
    float: left;
    padding-left: 120px;
    padding-top: 150px;
}

.intro #introH {
    color: #0E3657;
    font-size: 42px;
    line-height: 150%;
    word-spacing: 4px;
}

.intro #introP {
    color: #6984a3;
    line-height: 150%;
    font-size: 20px;
    padding-bottom: 20px;
}

.intro button {
    cursor: pointer;
    border: 0;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 600px;
    margin: 10px 10px;
    width: 175px;
    height: 60px;
    background-color: #00ABE4;
    box-shadow: 0 0 20px #a4aeb9;;
    transition: 0.4s;
    font-size: 18px;
    font-weight: 700;
    font-family: Kanit, sans-serif;
    letter-spacing: 2px;
    color: #FFFFFF;
    
}

.intro button:hover {
    box-shadow: 0 0 20px #6984a3;
  }

.navbar {
    overflow: auto;
    float: right;
}

header {
    background: #E9F1FA;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.navbar ul {
    list-style: none;
    padding-right: 220px;
}

.navbar li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 10px;
}

.navbar a {
    color: #0E3657;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto';
    

    position: relative;
    display: block;
}
a {
    color: #0E3657;
    text-decoration: none;
}

.navbar a:hover {
    color: #000;
}


.navbar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #00ABE4;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

a:hover::after,
a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

li a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }
  
li a:hover::after,
li a:focus::after{
    transform: scale(1);
  }
  .creatorCourse label {
    font-family: 'Roboto';
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Roboto';
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .container {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    float: left;
    font-size: 28px;
    font-family: 'Roboto';
    color: #0E3657;
    margin: 30px;
  }
  .container h3 {
    padding-top: 100px;
  }
  
  .container ol {
    list-style: none;
  }
  
  .container li {
    line-height: 45px;
  }
  
  span {
    position: relative;
    display: block;
    cursor: pointer;
  }
  
  span:before, span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: rgb(0, 0, 0);
  }
  
  span:before {
    left: -2.5px;
  }
  span:after {
    right: 2.5px;
    background: rgb(0, 0, 0);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  span:hover:before {
    background: rgb(0, 0, 0);
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }


  
  